RESEND_API_KEY=your_resend_api_key

# NEXT_PUBLIC_EMAILJS_SERVICE_ID=your_service_id
# NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=your_template_id
# NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=your_public_key

# Google Maps API Key (Optional, if needed for custom maps)
# NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_api_key

# Admin Authentication
NEXTAUTH_SECRET=your_nextauth_secret_key_here
ADMIN_EMAIL=your_admin_mail
ADMIN_PASSWORD=your_admin_password
